body {
  min-width: 250px;
  min-height: 320px;
  background-color: #111827;
  color: white;
}

form {
  width: 100%;
  display: flex;
}

input {
  padding: 8px;
  width: 70%;
  background-color: rgba(55, 65, 81, 1);
  color: white;
  border-width: 0;
}

#submitButton {
  width: 30%;
  padding: 8px;
  color: #d1fae5;
  background-color: #10b981;
  border-width: 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: #1f2937;
  margin: 6px;
  padding: 2px;
  padding-top: 6px;
  text-align: center;
  width: 120px;
}

img p {
  display: block;
  margin: auto;
}

ul {
  padding: 5px;
  margin: 0;
}

li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

li:hover {
  background-color: rgb(116, 0, 0);
  transition: 0.25s;
}
